//Tipografia
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
$Merriweather: 'Merriweather', serif;
$Lato:'Lato', sans-serif;

//Cores
$green-light: #04C35C;
$purple-light: #2B6CB0;
$white: #FFFFFF;
$white-200: #F7FAFC;
$gray:#1A202C;